/* Overlay della configurazione */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Contenitore principale per la parte centrale */
.main-area {
  display: flex; /* Abilita Flexbox */
  flex-direction: column; /* Dispone gli elementi in colonna */
  align-items: center; /* Centra orizzontalmente gli elementi */
  justify-content: center; /* Centra verticalmente gli elementi */
  height: 100%; /* Assicurati che il contenitore occupi l'intera altezza */
  position: relative; /* Necessario per il posizionamento assoluto dei figli */
}

/* Stile comune per i pulsanti */


/* Stile specifico per il pulsante "Configurazione" */
/* .config-button {
    margin-bottom: 20px; //Margine per distanziarlo da altri elementi
  }*/

/* Stile specifico per il pulsante "Configurazione" */
.config-button {
  position: absolute; /* Posizione assoluta per il posizionamento */
  top: 10px; /* Distanza dall'alto */
  right: 20px; /* Distanza da destra */
}

/* Parte centrale */
/* Stile per lo slider del timer */
.timer-slider {
  width: 200px; /* Larghezza dello slider impostata a 1/4 */
}

/* Opzionale: Stile per l'etichetta e il valore */
label {
  display: inline-block; /* Assicura che il label e lo slider siano sulla stessa riga */
  margin-right: 10px; /* Spazio tra l'etichetta e lo slider */
}

span {
  margin-left: 10px; /* Spazio tra lo slider e il valore */
  font-weight: bold; /* Rende il valore più evidente */
}
.operation-display-container {
  display: flex;
  position: relative; /* Imposta il contesto per il posizionamento assoluto */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px; /* Altezza fissa per evitare cambiamenti */
  width: 100%;
  padding: 20px;
  /*background-color: #f8f8f8; /* Sfondo per distinguere l'area */
  border-radius: 8px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  margin-top: 20px;
  margin-bottom: 20px;
}
/*
.operation-display h1 {
  font-size: 48px;
  margin: 20px 0;
}
  */

  .operation-display {
    font-size: 48px; /* Dimensione del testo per l'operazione */
    text-align: center;
    position: absolute;
    top:20px;
    color: #333;
    margin-bottom: 30px;
    max-width: 90%; /* Impedisce al testo di oltrepassare i bordi */
    word-break: break-word;
  }

input[type='range'] {
  margin: 10px 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px; /* Posiziona il div al fondo di .operation-display-container */
  left: 50%; /* Centra orizzontalmente rispetto a .operation-display-container */
  transform: translateX(-50%);
  gap: 10px; /* Spazio tra input e bottone */
}

#input-button {
  padding: 8px;
  outline: none;
  flex: 1;
  margin-top: 20px;
  margin-right: 20px; /* Spazio tra input e bottone */
}


#answer-input {
  border: 2px solid blue; /* Bordo blu */
  padding: 8px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  flex: 1;
  margin-top: 20px;
  margin-right: 20px; /* Spazio tra input e bottone */
}



/* Tabella dei risultati */
.results {
  padding: 20px;
}

.results table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.results th,
.results td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.results th {
  background-color: #f2f2f2;
  color: black;
}


